* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Regular';
}

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
}

body {
    background-color: #222222;
}
#menu-toggle{
    display: none;
}

.container {
    margin: 0vw 9vw;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.logoimg {
    width: 200px;
}

header span {
    position: absolute;
    float: left;
    font-size: 9px;
    color: rgb(224, 223, 223);
    font-family: 'Segoe UI Regular';
    margin-top: 50px;
    margin-left: -102px;
}

.navigation ul li {
    color: white;
    list-style: none;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    margin: 0px 12px;
    font-weight: 600;
    cursor: pointer;
}

li>img {
    width: 14px;
    filter: invert();
    margin: 2px;
}

li {
    display: flex;
    align-items: center;
}

.lang {
    filter: none;
    width: 27px;
}


/*  second half --- this is second section  */

.container2 {
    margin: 50px 18vw;
}

.section1 {
    display: flex;
    margin-bottom: 89px;
}

.boximage {
    width: 300px;
}

.section1Left>p {
    color: white;
    font-size: 22px;
    font-family: 'Segoe UI Regular';
    padding-right: 117px;
    /* padding-left: 30px; */
}

.section1Left>p>a {
    /* text-decoration: none; */
    color: white;

}

.section1Buttons {
    margin-top: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    border-radius: 4px;
    padding: 12px 20px;
    background-color: #09A6BD;

}

.btn1 {
    border: 2px solid #04889c;
    width: 260px;
    transition: all 0.2s ease-in-out;
}

.btn1:hover {
    background-color: #048498;
}

.button a {
    text-decoration: none;
    color: White;
    font-size: 21px;
    font-family: 'Segoe UI Bold';
}

.button>a>span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.btn2 {
    height: 74px;
    border: 2px solid white;
    margin: 10px;
    background-color: transparent;
    width: 260px;
    transition: all 0.2s ease-in-out;

}

.btn2:hover {
    background-color: rgba(255, 255, 255, 0.095);
}

.tag1>a {
    color: white;
    font-family: 'Segoe UI Regular';
    font-size: 21px;
    cursor: pointer;
}


/*  section 2 */
.section2 {
    text-align: center;
}

.section2 h2 {
    font-size: 24px;
    color: white;
    font-family: 'Segoe UI Regular';
}

.section2main {
    margin-top: 72px;
}

.section2main .section2Left img {
    height: 164px;
}

.section2main .section2Right p {
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Segoe UI Regular';
    margin-bottom: 0px;
    margin: 10px;
}

.section2main .section2Right span>a {
    color: #00b6d1;
    text-decoration: none;
    font-family: 'Segoe UI Regular';
    font-size: 15px;
    font-weight: bold;
}

.section2main .section2Right span {
    color: white;
    font-size: 13px;
    display: block;
    margin-top: -10px;
}

.section2Right {
    width: 249px;
    margin-left: 47px;
}

/*   section3  */

.section3 {
    height: 57px;
    background-color: #FFE500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 p {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI Regular';
}

/*  section 4 */
.section4 {
    background-color: white;
    padding: 7vw 18vw;
}

.section4set {
    display: flex;
    align-items: first center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
}

.section4set div {
    height: 90px;
}

.section4set h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0px;
}

.section4set p {
    font-size: 14px;
}

.section4set img {
    max-width: 200px;
}

.set3 {
    width: 200px;
}

.set4 img {
    width: 100px;
}

/*  SECTION 5 */
.section5 {
    background-color: white;
    padding: 3vh 18vw;
}

.section5Left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5Left img {
    width: 270px;
}

.section5Right {
    width: 50%;
}

.section5Right h2 {
    font-size: 32px;
    margin-bottom: 25px;
    width: 400px;
}

.section5Right p {
    font-size: 16px;
    width: 320px;
    color: grey;
}

.section5Right button {
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFE500;
    border: none;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*  section6  */
.section6 {
    background-color: white;
    padding: 7vw 18vw;
    text-align: center;
}

.section6 h3 {
    font-size: 32px;
    font-family: 'Segoe UI Regular';
    font-weight: normal;
}

.section6 h3 span {
    font-size: 32px;
    font-family: 'Segoe UI Bold';
}

.basedownlaods {
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.Downloads img {
    width: 142px;
}

.Downloads p {
    font-size: 14px;
    width: 130px;
    min-height: 150px;
    line-height: 1.6;
    margin-top: 10px;
}

.Downloads button {
    box-sizing: border-box;
    background-color: #00b6d1;
    color: white;
    border: none;
    border-radius: 4px;
    width: 149px;
    height: 48px;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Segoe UI Bold';
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.Downloads button:hover {
    background-color: #04889c;

}


/*  section 7 */

.section7 {
    padding: 0 18vw;
    background-color: white;
    text-align: center;
}

.section7 h2 {
    font-size: 32px;
    font-family: 'Segoe UI Bold';
    font-weight: normal;
    margin-bottom: 50px;
}

.mainsec {
    text-align: left;
    padding: 0px 30px;
}

.mainsec h3 {
    font-weight: 600;
    line-height: 1.3;
    font-size: 23px;
    color: #222222;
}

.mainsec h3 {
    text-align: left;
    margin-bottom: 30px;
}

.mainsec p {
    font-style: italic;
}

.mainsec span {
    display: block;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 30px;
}

.mainsec span:nth-child(4) {
    display: block;
    font-weight: 200;
    font-size: 13px;
    margin-top: 2px;
}

.section7 .sec7btn {
    width: 100%;
    max-width: 512px;
    padding: 12px 20px !important;
    min-height: 48px;
    min-width: 256px;
    text-align: center;
    background-color: #00b6d1;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.section7 .sec7btn:hover {
    background-color: #04889c;

}

/*  footer  */
.footer {
    padding: 40px 18vw;
    background-color: #f9f9f9;
}

.footSec {
    justify-content: space-between;
}

.foot h3 {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 12px;
}

.foot li a {
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #222222;
    line-height: 1.7;
}

.foot4 input {
    padding: 10px 16px;
    border: 1px solid #22242626;
    border-radius: 7px;
    transition: box-shadow .15s ease-in-out;
    height: auto;
    width: 180px;
    display: block;
    margin-top: 15px;
}

.foot4 input::placeholder {
    color: #4e4e4e;
}

.foot4 input:focus {
    outline: none;
    border-color: #85b7d9;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 0 0 4px #00b6d140;
}

.foot4 p {
    font-size: 14px;
}

.foot4 button {
    background: #00b6d1;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 25px;
    transition: box-shadow .15s ease-in-out;
    width: 100%;
    border: #00b6d1;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.foot4 button:hover {
    background-color: #04889c;
}

.footSec2 {
    margin-top: 50px;
    justify-content: space-between;
}

.footimgsec .footerimg {
    width: 150px;
}

.footimgsec span {
    display: block;
    font-size: 12px;
    margin-top: 20px;
}

.footSec2right ul {
    display: flex;
}

.footSec2right ul li {
    padding: 8px;
}

.footSec2right ul li a img {
    width: 26px;
    height: 26px;
    transition: all 0.2s ease-in-out;

}

.footSec2right ul li a img:hover {
    width: 28px;
    height: 26px;
}

.footSec2right ul li a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    transition: all 0.2s ease-in-out;

}

.footSec2right ul li a:hover {
    font-size: 28px;
}

/* none */

.upbtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 65px;
    height: 65px;
    background-color: #00b6d1;
    border: none;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.upbtn:hover {
    background-color: #04889c;
}

.upbtn a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    line-height: 0.9;
    font-weight: bolder;
}

